<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container-fluid">
          <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
          </div>
          <div class = "row">
          <h1>Latest Mars News</h1>
          <h3>{{ mars.news }}</h3>
          <p>{{ mars.news_para }}</p>
          <h2>Featured Mars Image:</h2>
          <img src = "{{mars.images}}" alt="Mars Images">
          <h3>Mars Facts:</h3>
          <p>{{ mars.facts | safe}}</p>
          <h3>Mars Hemispheres:</h3>

          {% for hemisphere in mars.hemispheres %}
            <div class = "col-md-3">
              <div class = "thumbnail">
              <img src = "{{hemisphere.img_url}}">
              <h4>{{hemisphere.title}}</h4>
        </div>
        </div>
        {% endfor %}

      </body>
      
      </html>


